*,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header, .top, .middle, .quotes, .invite, .footer {
    padding: 0 128px;
}

.header, .top, .footer {
    background-color: #1F2937;
    color: #F9FAF8
}

.top-text h1 {
    font-size: 48px;
    font-weight: bolder;
}

.top-text p,
.link {
    font-size: 18px;
    color: #E5E7EB;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

ul {
    display: flex;
}

li {
    padding: 12px;
}

.logo {
    width: 150px;
}

#hero-img {
    max-width: 450px;
}

.top {
    display: flex;
    padding: 60px 128px;
    gap: 40px;
    flex-wrap: wrap;
}

.top-text {
    width: 450px;
}